.chat-container {
  display: flex;
  flex: 8;
  margin-top: 75px;
  height: calc(100vh - 75px);
}

.chat-window {
  width: 70%;
  height: 100%;
  background-color: var(--black-color2);
}

.chat-body {
  height: 90%;
  width: 100%;
  position: relative;
}
.message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.message-container::-webkit-scrollbar {
  display: none;
}
.message {
  padding: 10px;
  display: flex;
}

.message-content {
  min-height: 40px;
  min-width: 70px;
  max-width: 400px;
  background-color: var(--black-color1);
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  padding: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-end;
}

#you .message-content {
  justify-content: flex-end;
}

#other {
  justify-content: flex-start;
}

#other .message-content {
  justify-content: flex-start;
  background-color: var(--black-color3);
}

#you #author {
  color: white;
  font-size: 14px;
  color: var(--blue-color);
}

#other #author {
  color: white;
  font-size: 14px;
  color: var(--red-color);
}

.message-time {
  display: flex;
  justify-content: flex-end;
}

#time {
  color: var(--purple-color);
  font-size: 10px;
  opacity: 0.7;
}

.chat-input {
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: space-evenly;
  align-items: center;
}

.chat-input input {
  outline: none;
  border: none;
  height: 50px;
  font-size: 18px;
  margin-left: 10px;
  width: 80%;
  border-radius: 7px;
  padding: 0 5px;
  background-color: var(--black-color1);
  border: 2px solid black;
  color: white;
}

.chat-send-btn {
  font-size: 50px !important;
  cursor: pointer;
  color: var(--yellow-color);
}

.chat-animation {
  width: 30%;
  background-color: var(--black-color1);
}
