.sidebar {
  background: var(--black-color2);
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  z-index: 50;
  border-right: 1px dotted gray;
}

.icon {
  margin-top: 50px;
  font-size: 35px !important;
  cursor: pointer;
  color: gray;
}

.menu {
  margin-bottom: 30px;
  font-size: 45px !important;
}

.icon:hover {
  color: var(--blue-color);
}
