.sidebar {
  background-color: #121212;
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.icon {
  color: #a278e6;
  margin-top: 50px;
  font-size: 35px !important;
  cursor: pointer;
}

.menu {
  margin-bottom: 30px;
  font-size: 45px !important;
}

.icon:hover {
  color: aqua;
}
