.people {
  background-color: var(--black-color2);
  display: flex;
  flex: 8;
  margin-top: 75px;
  color: white;
}

.people-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 10px;
}

.person {
  background-color: var(--black-color3);
  padding: 10px;
  margin-top: 10px;
  font-size: 18px;
  text-transform: capitalize;
  color: var(--yellow-color);
}
