.navbar {
  height: 75px;
  width: 100vw;
  position: absolute;
  z-index: 10;
  background-color: #121212;
}

.nav-icons {
  position: absolute;
  right: 0;
  padding: 10px;
  margin-top: 5px;
}

.nav-icon {
  font-size: 30px !important;
  color: white;
  margin: 2px 10px;
  cursor: pointer;
}
